<div class="header">
  <!-- logo + title -->
  <div class="logo-title">
    <img
      src="assets/images/logo.png"
      alt="Auto Club System Logo"
      class="logo"
    />
    <div class="title">Auto Club System</div>
  </div>
  <div class="nav-container">
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active-link" class="nav-link"
        >Home</a
      >
      <a routerLink="/articles" routerLinkActive="active-link" class="nav-link"
        >Articles</a
      >
      <a routerLink="/cars" routerLinkActive="active-link" class="nav-link"
        >Cars</a
      >
      <!-- <a routerLink="/cars" class="nav-link">Cars</a> -->
      <a routerLink="/about" routerLinkActive="active-link" class="nav-link"
        >About</a
      >
      <a routerLink="/contactus" routerLinkActive="active-link" class="nav-link"
        >Contact</a
      >
    </div>
    <div class="auth-links">
      <a routerLink="/login" routerLinkActive="active-link" class="nav-link"
        >Login</a
      >
      <a routerLink="/register" routerLinkActive="active-link" class="nav-link"
        >Register</a
      >
    </div>
  </div>
</div>
