<div class="homeProjectsContainer">
  <div class="headerProjectsContainer">
    <div class="projectCircle"></div>
    <h1>Our Projects</h1>
  </div>
  <div class="projectsListContainer">
    <div class="projectContainer">
      <img
        class="projectImage"
        src="assets\images\homeArticleCars\homearticle2.png"
        alt="projectImage"
      />
      <div class="projectContentContainer">
        <h3>Project 1</h3>
        <p class="description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        <p class="startDate">Published at: 9/7/2025 10:50:12 AM</p>
        <p class="author">Author: Ahmed Gamal</p>
        <div class="projectLastContent">
          <a class="followProject" href="#"> Follow Project </a>
          <div class="followProjectShape"></div>
        </div>
      </div>
    </div>
    <div class="projectContainer">
      <img
        class="projectImage"
        src="assets\images\homeArticleCars\homearticle4.png"
        alt="projectImage"
      />
      <div class="projectContentContainer">
        <h3>Project 2</h3>
        <p class="description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        <p class="startDate">Published at: 9/7/2025 10:50:12 AM</p>
        <p class="author">Author: Ahmed Gamal</p>
        <div class="projectLastContent">
          <a class="followProject" href="#"> Follow Project </a>
          <div class="followProjectShape"></div>
        </div>
      </div>
    </div>
    <div class="projectContainer">
      <img
        class="projectImage"
        src="assets\images\homeArticleCars\homearticle3.png"
        alt="projectImage"
      />
      <div class="projectContentContainer">
        <h3>Project 3</h3>
        <p class="description">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        <p class="startDate">Published at: 9/7/2025 10:50:12 AM</p>
        <p class="author">Author: Ahmed Gamal</p>
        <div class="projectLastContent">
          <a class="followProject" href="#"> Follow Project </a>
          <div class="followProjectShape"></div>
        </div>
      </div>
    </div>
  </div>
</div>
