<div class="homeServicesContainer">
  <div class="headerServicesContainer">
    <h1>Services</h1>
  </div>
  <div class="servicesListContainer">
    <div class="service">
      <div class="serviceCounter">1</div>
      <div class="serviceContainer">
        <diV class="serviceImageContainer">
          <div class="glassWindowOuter"></div>
          <div class="glassWindowInner"></div>
          <img
            class="serviceImage"
            src="assets\images\homeArticleCars\homearticle1.png"
            alt="serviceImage"
          />
        </diV>
        <div class="serviceArrow"></div>
        <div class="serviceContentContainer">
          <h3>Title</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="price">Price: <span class="priceValue">$100</span></p>
          <div class="servicePhoneContainer">
            <p class="phone">
              <i class="bi bi-telephone-fill"></i> Phone:
              <span class="phoneValue">+1234567890</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="serviceCounter">2</div>
      <div class="serviceContainer">
        <diV class="serviceImageContainer">
          <div class="glassWindowOuter"></div>
          <div class="glassWindowInner"></div>
          <img
            class="serviceImage"
            src="assets\images\homeArticleCars\homearticle3.png"
            alt="serviceImage"
          />
        </diV>
        <div class="serviceArrow"></div>
        <div class="serviceContentContainer">
          <h3>Title</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="price">Price: <span class="priceValue">$100</span></p>
          <div class="servicePhoneContainer">
            <p class="phone">
              <i class="bi bi-telephone-fill"></i> Phone:
              <span class="phoneValue">+1234567890</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="serviceCounter">3</div>
      <div class="serviceContainer">
        <diV class="serviceImageContainer">
          <div class="glassWindowOuter"></div>
          <div class="glassWindowInner"></div>
          <img
            class="serviceImage"
            src="assets\images\homeArticleCars\homearticle5.png"
            alt="serviceImage"
          />
        </diV>
        <div class="serviceArrow"></div>
        <div class="serviceContentContainer">
          <h3>Title</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <p class="price">Price: <span class="priceValue">$100</span></p>
          <div class="servicePhoneContainer">
            <p class="phone">
              <i class="bi bi-telephone-fill"></i> Phone:
              <span class="phoneValue">+1234567890</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
