<div class="homeContainer">
  <div class="homeHeaderContainer">
    <diV class="homeTextContainer">
      <h1>Ahmed Gamal , Track, Plan and achieve your financial goals</h1>
    </diV>
    <div class="homeVideoContainer">
      <video
        #headerVideo
        class="autoClubVideoBg"
        src="assets/videos/autoClubVideoHeader.mp4"
        autoplay
        muted
        loop
        playsInline
        preload="auto"
      ></video>
    </div>
  </div>

  <div class="homeArticlesContainer">
    <div class="headerContainer">
      <h1>Articles</h1>
    </div>
    <div class="articlesListContainer">
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle1.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 1</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle2.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 2</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle3.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 3</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle4.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 4</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle1.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 5</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle3.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 6</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
      <div class="articleContainer">
        <img
          class="articleImage"
          src="assets\images\homeArticleCars\homearticle5.png"
          alt="articleImage"
        />
        <div class="articleContentContainer">
          <h3>Article 7</h3>
          <p class="Content">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many web
            sites still in their infancy. Various versions have evolved over the
            years, sometimes by accident, sometimes on purpose (injected humour
            and the like).
          </p>
          <p class="publishAt">Published at: 9/7/2025 10:50:12 AM</p>
          <p class="author">Author: Ahmed Gamal</p>
          <a class="readMoreLink" href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="viewAllArticlesContainer">
      <a class="viewAllArticlesLink" href="#">View All Articles</a>
    </div>
  </div>

  <app-ourservices></app-ourservices>

  <app-ourprojects></app-ourprojects>

  <div class="homeAboutContainer">
    <div class="aboutHeaderContainer">
      <h1>About Services</h1>
    </div>

    <div class="aboutListContainer">
      <div class="aboutContainer">
        <div class="aboutImageContainer">
          <img
            src="assets/images/aboutBuyAndSell.png"
            alt="About Buy And Sell Cars"
          />
        </div>
        <div class="aboutContentContainer">
          <h3><i></i>Buy & Sell Cars</h3>
          <p class="description">
            Post or browse used and new cars effortlessly.
          </p>
        </div>
      </div>

      <div class="aboutContainer">
        <div class="aboutContentContainer" style="margin-left: 50px">
          <h3>Marketing Services</h3>
          <p class="description">
            Promote your car with featured listings and digital campaigns.
          </p>
        </div>
        <div class="aboutImageContainer">
          <img
            src="assets/images/aboutMarketingServices.png"
            alt="About Marketing Services"
          />
        </div>
      </div>

      <div class="aboutContainer">
        <div class="aboutImageContainer">
          <img
            src="assets/images/aboutExpertAndArticlesAndReviews.png"
            alt="About Buy And Sell Cars"
          />
        </div>
        <div class="aboutContentContainer">
          <h3><i></i>Expert Articles & Reviews</h3>
          <p class="description">
            Stay informed with comparisons, market tips, and maintenance guides.
          </p>
        </div>
      </div>

      <div class="aboutContainer">
        <div class="aboutContentContainer" style="margin-left: 100px">
          <h3>Real-Time Chat</h3>
          <p class="description">
            connect directly with sellers and buyers through our secure chat
            system.
          </p>
        </div>
        <div class="aboutImageContainer">
          <img
            src="assets/images/aboutRealTimeChat2.png"
            alt="Real-Time Chat"
          />
        </div>
      </div>

      <div class="aboutContainer">
        <div class="aboutImageContainer">
          <img
            src="assets/images/aboutPaidServicesAndInvoices.png"
            alt="About Buy And Sell Cars"
          />
        </div>
        <div class="aboutContentContainer">
          <h3><i></i>Paid Services & Invoices</h3>
          <p class="description">
            Enjoy optional premium services to boost your listings.
          </p>
        </div>
      </div>
    </div>

    <div class="aboutChooseUsContainer">
      <div class="aboutChooseUsContent">
        <h3>Why Choose Us?</h3>
        <ul>
          <li>Easy and straightforward user experience</li>
          <li>Professional services at reasonable prices</li>
          <li>Reliable security and evaluation system</li>
          <li>Fast technical support</li>
          <li>New and useful content</li>
        </ul>
      </div>
      <div class="aboutChooseUsImage">
        <img src="assets/images/aboutWhyChooseUs.png" alt="whyChooseUs" />
      </div>
    </div>
  </div>

  <div class="homeContactContainer">
    <div class="contactHeaderContainer">
      <h1><i class="bi bi-person-rolodex"></i>Contact Us</h1>
    </div>

    <div class="contactContainer">
      <div class="contactContentContainer">
        <h3>Contact Form</h3>
        <p>
          We're happy to hear from you! Whether it's a question, feedback, or
          support request — just fill in the form and our team will get back to
          you shortly.
        </p>
        <p>
          You can also use this form to report an issue or inquire about our
          services.
        </p>
      </div>

      <div class="contactContentFormContainer">
        <h2>اتصل بنا</h2>
        <form>
          <div class="form-row">
            <input type="text" name="name" required placeholder="Full Name" />
            <input type="email" name="email" required placeholder="Email" />
          </div>
          <input type="text" name="subject" required placeholder="Subject" />
          <textarea
            name="message"
            required
            placeholder="Your message..."
          ></textarea>
          <button type="submit">📤 Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
